<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title></title>
		
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/navbar.css" type="text/css">
	<link rel="stylesheet" href="/css/feature.css" type="text/css">
</head>
<body>
	<%- include("./include/navbar.ejs") %>
	
	<div id="container" class="container h-auto pt-4 mt-4 bg-dark">
		<div class="row pb-5">
			<div class="col">
				<img src="data:image/String;base64,<%= (animation.immagine) ? animation.immagine.toString('base64') : "" %>" alt="logo animazione" onerror="this.src='/img/anim/noimage.png' ">
			</div>
			<div class="col">
				<p id="nome"><%= animation.titolo %></p>
				
				<p>
					<b>Tipo:</b> <%= animation.tipo %><br/>
					<b>Uscita:</b> <%= animation.dataUscita %> <br/>
				
				<b>Genere:</b> <%= animation.genere %> </p>
			
				<p><b>Staff:</b><br/>
				<% for (let el of animation.staffs) { %> 
					<span><%= el.nome + " " + el.cognome + " | " + el.ruolo %></span> <br/>
				<% } %>
			</div>
		</div>
		<div id="rec" class="row">
			<div class="col">
				<span id="insertrec">Inserisci una recensione</span> <br/>
				<% if (locals.user) { %>
				<span>Voto</span>
					<ul id="star">
						<li class="fa fa-star fa-2x" id="1star" onclick="checkStar(this.id)"></li>
						<li class="fa fa-star fa-2x" id="2star" onclick="checkStar(this.id)"></li>
						<li class="fa fa-star fa-2x" id="3star" onclick="checkStar(this.id)"></li>
						<li class="fa fa-star fa-2x" id="4star" onclick="checkStar(this.id)"></li>
						<li class="fa fa-star fa-2x" id="5star" onclick="checkStar(this.id)"></li>
					</ul>
					<form name="reviewForm" action="/aggiungiRecensione" method="POST">
						<input type="hidden" name="codiceAnimazione" value="<%= animation._id %>">
						<input type="hidden" name="_csrf" value="<%= locals.csrf %>">
						<input type="hidden" name="voto" value="">
						<span id="comment">Commento</span> <br/> 
						<textarea name="commento" maxlength="255" rows="4" cols="30"></textarea><br/> <br/>	
						<input type="submit" value="Inserisci"> <br/>
					</form>
					<span class="error" id="errorComment"></span><br/>
				<% } else { %>
					<p> Devi essere registrato per scrivere una recensione </p>
				<% } %>

				<span id="recensioni">Recensioni</span><br/>	
				<% for(let el of animation.recensioni) { %>
					<p>
						Utente: <%= el.user.username %><br/>
						Voto: <%= el.voto %><br/>
						Commento:<br/>
						<span>
							<%= el.commento %>
						</span>
					</p>
				<% } %>
			

			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/js/feature.js"></script>
	
</body>
</html>