<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<title>Ordini effettuati</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/navbar.css" type="text/css">
	<link rel="stylesheet" href="css/order.css" type="text/css">
</head>
<body>
	<%- include("../include/navbar.ejs") %>
	
	<div id="container" class="container pt-4 mt-4 bg-dark h-100">
		<span id="titolo">Ordini effettuati</span>
		<div id="accordion">
			<% for(order of ordini) { %> 
				<div class="card">
					<div class="card-header" id="heading<%= order.numeroOrdine %>">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#<%= order.numeroOrdine %>" aria-expanded="true" aria-controls="collapseOne">
								Ordine numero <%= order.numeroOrdine %> 
							</button>
							<span class="float-right">Effettuato in data <%= order.dataOrdine.getDate() + "/" +  (order.dataOrdine.getMonth() + 1) + "/" + order.dataOrdine.getFullYear() %></span>
						</h5>
					</div>
			
					<div id="<%= order.numeroOrdine %>" class="collapse" aria-labelledby="heading<%= order.numeroOrdine %>" data-parent="#accordion">
						<div class="card-body">
							<div class="row">
								<% for(el of order.prodotti) { %> 
									<div class="col">
										<span>Nome:</span> <%= el.prodotto.animazione.titolo %>  <br/>
										<span>Quantità:</span> <%= el.quantity %><br/>
										<span>Prezzo:</span> <%= el.prezzo %><br/>
									</div>
								<% } %>
							</div>
							<a href="fattura/<%= encodeURIComponent(order.numeroOrdine) %>">Fattura</a>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>